* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

html {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 62.5%;
  background-color: #fafafa;
}

.main {
  display: flex;
  gap: 6rem;
}

.left {
  display: flex;
}
.root {
  margin-top: 5rem;
}
.frame {
  background-image: url("frame.png");
  height: 70rem;
  width: 50rem;
  background-repeat: no-repeat;
  transform: translate(70%);
  z-index: -1;
}
.coverpic {
  transform: translate(2.8%, 3.9%);
}
div span {
  display: inline-block;
  background-image: url("./instagram-image.png");
  background-size: 176px 186px;
  width: 17.7rem;
  height: 5rem;
  background-repeat: no-repeat;
  margin: 5rem 0 4rem 0;
}

.profile-pic {
  background-image: url(./profilepic.jpg);
  height: 10rem;
  width: 10rem;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 10rem;
  position: center;
}
.text-field {
  width: 30rem;
  border: 0.1px solid rgb(229, 210, 210);
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: #fafafa;
}
.pwd {
  margin-top: 0.6rem;
}

.login {
  margin-top: 2rem;
  width: 30rem;
  /* border: 1px solid black; */
  padding: 1rem;
  color: white;
  font-weight: 700;
  border-radius: 1rem;
  background-color: #4db5f9;
}
.forgot-password {
  margin-top: 3rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.firstcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 0.1px solid rgb(229, 210, 210);
  background-color: white;
  padding: 2rem;
  margin-top: 10rem;
}
